/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
    box-sizing: border-box;
}

.body {
    font-family: 'Ubuntu', sans-serif;
    background: linear-gradient(90deg, #F6FAFD 0%, #FFFFFF 100%)
}

/* color vars */
:root {
    --cloud-burst: #212353;
    --slate: #4B5D68;
    --purple: #9C69E2;
    --lights-blue: #68C9BA;
    --hot-pink: #F063B8;
}

/* common styles */

html {
    scroll-behavior: smooth;
}

.container {
    max-width: 1180px;
    padding: 0 20px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

.btn {
    border-radius: 50px;
    background-color: var(--purple);
    color: #fff;
    text-decoration: none;
}

.main {
    margin-bottom: 150px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* header */

.header {
    padding: 70px 0;
    margin-bottom: 70px;
}

.header__container {
    display: flex;
    align-items: center;
}

.header__home {
    margin-right: 120px;
}

.nav__item {
    display: inline-block;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-decoration: none;
    color: var(--slate);
    transition: all .1s ease-in;
}

.nav__item:not(:last-child) {
    margin-right: 40px;
}

.nav__item:hover {
    font-weight: bold;
    color: var(--cloud-burst);
    transform: translateY(-1px);
}

/* hero */

.hero {
    margin-bottom: 93px;
}

.hero__wrapper {
    position: relative;
    max-width: 1300px;
}

.hero__image {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.hero__image-mobile {
    display: none;
}

.hero__description {
    padding-bottom: 100px;
}

.hero__title {
    max-width: 680px;
    margin-bottom: 50px;
    font-size: 80px;
    line-height: 88px;
    font-weight: bold;
    color: var(--cloud-burst);
}

.hero__paragraph {
    max-width: 380px;
    margin-bottom: 66px;
    font-size: 18px;
    font-weight: 500;
    line-height: 29px;
    color: var(--slate);
}

.hero__button {
    padding: 16px 38px;
    transition: all 0.2s ease-in-out;
}

.hero__button:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 10px 20px rgba(145, 92, 182, .5);
}

/* about */

.about {
    margin-bottom: 150px;
}

.about__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 32px 32px 16px;
    background: rgba(240, 99, 184, 0.15);
    border-radius: 50px;
}

.about__description {
    max-width: 474px;
}

.about__title {
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
    margin-bottom: 40px;
    color: var(--cloud-burst);
}

.about__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    color: var(--slate);
}

/* features */

.features {
    margin-bottom: 150px;
}

.features__top {
    max-width: 584px;
    margin: 0 auto 100px;
    text-align: center;
}

.features__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: var(--cloud-burst);
}

.features__description {
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    color: var(--slate);
}

.features__cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px 80px;
}

.card {
    display: flex;
    align-items: center;
    max-width: 531px;
}

.card__image {
    margin-right: -150px;
    z-index: 1;
}

.card__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 442px;
    min-height: 358px;
    padding: 50px 50px 33px 170px;
    border-radius: 50px;
}

.search .card__description {
    background: url("../images/feature-1-bg.svg") no-repeat right;
    background-size: cover;
}

.access .card__description {
    background: url("../images/feature-2-bg.svg") no-repeat right;
    background-size: cover;
}

.print .card__description {
    background: url("../images/feature-3-bg.svg") no-repeat right;
    background-size: cover;
}

.security .card__description {
    background: url("../images/feature-4-bg.svg") no-repeat right;
    background-size: cover;
}

.card__title {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    color: var(--cloud-burst);
}

.card__desc {
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: var(--slate);
    margin-bottom: 20px;
}

.card__link {
    position: relative;
    display: flex;
    align-items: center;
    font-weight: 800;
    font-size: 16px;
    line-height: 26px;
    text-decoration: none;
    color: var(--cloud-burst);
}

.card__link:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    margin: -5px 0;
    background-color: white;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.4s ease-in-out 0s;
}

.card__link:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

.card__text {
    margin-right: 20px;
}

.card__arrow {
    transform: translateY(1px);
}

/* testimonials */

.testimonials__container {
    padding: 110px 0 60px 93px;
    background: var(--purple);
    border-radius: 50px;
    overflow: hidden;
}

.testimonials__title {
    margin-bottom: 88px;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: white;
}

.testimonials__cards {
    display: flex;
    margin-bottom: 60px;
}

.testimonial-card {
    display: flex;
    min-width: 645px;
    min-height: 330px;
    padding: 60px 70px 50px 70px;
    margin: 0 10px;
    background: #FFFFFF;
    box-shadow: 0 20px 20px 0 rgb(122 66 199);
    border-radius: 20px;
}

.testimonial-card__image {
    width: 90px;
    height: 90px;
    margin-right: 30px;
    border-radius: 50%;
}

.testimonial-card__definition {
    padding-top: 20px;
}

.testimonial-card__name {
    font-weight: 700;
    font-size: 18px;
    line-height: 29px;
    color: var(--cloud-burst);
}

.testimonial-card__link {
    margin-bottom: 19px;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    text-decoration: none;
    color: var(--purple);
}

.testimonial-card__description {
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: var(--slate);
}

.testimonials__navigation {
    display: flex;
    justify-content: space-between;
    padding-right: 76px;
}

.testimonials__list {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.testimonials__item {
    width: 5px;
    height: 5px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    transition: all .3s linear;
}

.testimonials__item:hover {
    transform: scale(1.2);
}

.testimonials__active {
    width: 10px;
    height: 10px;
    background-color: var(--hot-pink);
}

.testimonials__item:not(:last-child) {
    margin-right: 10px;
}

.testimonials__arrow:not(:last-child) {
    margin-right: 20px;
}

.testimonials__arrow {
    cursor: pointer;
    transition: all .3s linear;
}

.testimonials__arrow:hover {
    transform: scale(1.15);
}

/* footer */

.footer {
    margin-bottom: 85px;
    border-top: 2px solid #EBE1F9;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    padding-top: 120px;
}

.footer__desc {
    max-width: 270px;
}

.footer__home {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-bottom: 65px;
}

.footer__logo-text {
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    margin-left: 20px;
    color: var(--cloud-burst);
}

.footer__address {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 29px;
    font-style: normal;
    color: var(--cloud-burst);
}

.footer__contact {
    margin-bottom: 36px;
}

.footer__email,
.footer__phone {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    font-style: normal;
    text-decoration: none;
    color: var(--cloud-burst);
}

.footer__copyrights {
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    color: var(--cloud-burst);
}

.footer__title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: var(--cloud-burst);
}

.footer__list {
    display: flex;
}

.footer__image {
    width: 50px;
    height: 50px;
}

.footer__item {
    transition: all .2s linear;
}

.footer__item:hover {
    transform: scale(1.1);
}

.footer__item:not(:last-child) {
    margin-right: 14px;
}


/* media */

@media (max-width: 1200px) {
    /* header */
    .header {
        padding: 50px 0;
    }

    /* hero */
    .hero__image {
        max-width: calc(70vw - 40px);
    }

    /* features */
    .features__cards {
        gap: 50px 40px;
    }

    .card__description {
        padding: 50px 35px 33px 170px;
    }
}

@media (max-width: 1024px) {
    .header {
        margin-bottom: 30px;
    }

    .hero__title {
        max-width: 400px;
        margin-bottom: 30px;
        font-size: 40px;
        line-height: 45px;
    }

    .hero__paragraph {
        margin-bottom: 40px;
        font-size: 16px;
        line-height: 25px;
    }

    .features__cards {
        gap: 40px 10px;
    }

    .about {
        margin-bottom: 60px;
    }

    .about__picture {
        width: calc(40vw);
    }

    .about__title {
        font-size: 24px;
        line-height: 35px;
    }

    .about__text {
        font-size: 16px;
    }

    .features {
        margin-bottom: 75px;
    }

    .features__top {
        margin-bottom: 50px;
    }

    .features__title {
        font-size: 24px;
        margin-bottom: 15px;
    }

    .features__description {
        font-size: 16px;
    }

    .card__title {
        font-size: 20px;
    }

    .testimonials__container {
        padding: 70px 0 50px 83px;
    }

    .testimonials__title {
        font-size: 30px;
        margin-bottom: 60px;
    }

    .testimonial-card__name {
        font-size: 16px;
    }

    .testimonial-card__description {
        font-size: 16px;
        line-height: 26px;
    }

    .main {
        margin-bottom: 70px;
    }

    .footer__container {
        padding-top: 60px;
    }
}

@media (max-width: 986px) {
    .features__cards {
        grid-template-columns: 1fr;
    }

    .card {
        justify-self: center;
    }
}

@media (max-width: 800px) {
    .testimonials__container {
        padding: 40px 0 53px 40px;
    }
}

@media (max-width: 768px) {
    .hero__title {
        font-size: 24px;
    }
}

@media (max-width: 576px) {
    .header {
        padding: 30px 0;
    }

    .header__home {
        margin-right: 40px;
    }

    .nav__item:not(:last-child) {
        margin-right: 20px;
    }

    .hero {
        margin-bottom: 65px;
    }

    .hero__title {
        margin-bottom: 15px;
    }

    .hero__wrapper {
        display: none;
    }

    .hero__image-mobile {
        display: block;
        width: calc(80vw);
    }

    .hero__container {

    }

    .hero__description {
        padding-bottom: 0;
    }

    .about {
        margin-bottom: 45px;
    }

    .about__container {
        padding: 32px;
        flex-direction: column;
    }

    .about__picture {
        margin-right: 30px;
        width: 230px;
    }

    .about__title {
        margin-bottom: 10px;
    }

    .testimonials__container {
        padding: 25px 0 40px 25px;
    }

    .testimonial-card {
        min-width: 365px;
        min-height: 150px;
        padding: 30px;
    }

    .testimonials__navigation {
        padding-right: 40px;
    }

    .testimonial-card__definition {
        padding-top: 10px;
    }

    .footer {
        margin-bottom: 40px;
    }

    .footer__container {
        flex-direction: column;
    }

    .footer__desc {
        margin-bottom: 50px;
    }

    .footer__home {
        margin-bottom: 35px;
    }

    .footer__contact {
        margin-bottom: 20px;
    }

    .footer__title {
        margin-bottom: 20px;
    }
}

@media (max-width: 518px) {
    .card {
        flex-direction: column;
        justify-content: center;
    }

    .card__image {
        margin-bottom: -110px;
        margin-right: 0;
    }

    .card__description {
        padding: 100px 35px 33px 80px;
    }
}

@media (max-width: 425px) {
    .about {
        margin-bottom: 30px;
    }

    .about__container {
        padding: 28px;
    }

    .card__description {
        padding: 100px 35px 35px 35px;
    }

    .testimonials__title {
        margin-bottom: 30px;
        font-size: 24px;
    }

    .testimonial-card {
        padding: 20px;
    }

    .testimonial-card__image {
        margin-right: 15px;
        width: 60px;
        height: 60px;
    }

    .testimonial-card__description {
        font-size: 14px;
    }
}
