/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
    box-sizing: border-box;
}

.body {
    font-family: 'Ubuntu', sans-serif;
    background: linear-gradient(90deg, #F6FAFD 0%, #FFFFFF 100%)
}

/* color vars */
:root {
    --cloud-burst: #212353;
    --slate: #4B5D68;
    --purple: #9C69E2;
    --lights-blue: #68C9BA;
    --hot-pink: #F063B8;
}

/* common styles */

html {
    scroll-behavior: smooth;
}

.container {
    max-width: 1180px;
    padding: 0 20px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.btn {
    border-radius: 50px;
    background-color: var(--purple);
    color: #fff;
    text-decoration: none;
}

/* header */

.header {
    padding: 70px 0;
    margin-bottom: 70px;
}

.header__container {
    display: flex;
    align-items: center;
}

.header__home {
    margin-right: 120px;
}

.nav__item {
    display: inline-block;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-decoration: none;
    color: var(--slate);
    transition: all .1s ease-in;
}

.nav__item:not(:last-child) {
    margin-right: 40px;
}

.nav__item:hover {
    font-weight: bold;
    color: var(--cloud-burst);
    transform: translateY(-1px);
}

/* hero */

.hero {
    margin-bottom: 93px;
}

.hero__container {
    position: relative;
    max-width: 1300px;
}

.hero__image {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.hero__description {
    padding-bottom: 100px;
}

.hero__title {
    max-width: 680px;
    margin-bottom: 50px;
    font-size: 80px;
    line-height: 88px;
    font-weight: bold;
    color: var(--cloud-burst);
}

.hero__paragraph {
    max-width: 380px;
    margin-bottom: 66px;
    font-size: 18px;
    font-weight: 500;
    line-height: 29px;
    color: var(--slate);
}

.hero__button {
    padding: 16px 38px;
    transition: all 0.2s ease-in-out;
}

.hero__button:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 10px 20px rgba(145, 92, 182, .5);
}

/* about */

.about {
    margin-bottom: 150px;
}

.about__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 92px 32px 16px;
    background: rgba(240, 99, 184, 0.15);
    border-radius: 50px;
}

.about__description {
    max-width: 474px;
}

.about__title {
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
    margin-bottom: 40px;
    color: var(--cloud-burst);
}

.about__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    color: var(--slate);
}

/* features */

.features {
    margin-bottom: 150px;
}

.features__top {
    max-width: 584px;
    margin: 0 auto 100px;
    text-align: center;
}

.features__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: var(--cloud-burst);
}

.features__description {
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    color: var(--slate);
}

.features__cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px 80px;
}

.card {
    position: relative;
    padding-left: 100px;
    max-width: 531px;
}

.search:before {
    position: absolute;
    left: 0;
    top: 19%;
    content: url("../images/features-1.png");
}

.access:before {
    position: absolute;
    left: 0;
    top: 19%;
    content: url("../images/features-2.png");
}

.access .card__description {
    background-image: url("../images/feature-2-bg.svg");
}

.print:before {
    position: absolute;
    left: 0;
    top: 27%;
    content: url("../images/features-3.png");
}

.print .card__description {
    background-image: url("../images/feature-3-bg.svg");
}

.security:before {
    position: absolute;
    left: 0;
    top: 20%;
    content: url("../images/features-4.png");
}

.security .card__description {
    background-image: url("../images/feature-4-bg.svg");
}

.card__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 442px;
    min-height: 358px;
    padding: 50px 50px 33px 170px;
    background-image: url("../images/feature-1-bg.svg");
    border-radius: 50px;
}

.card__title {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    color: var(--cloud-burst);
}

.card__desc {
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: var(--slate);
    margin-bottom: 20px;
}

.card__link {
    position: relative;
    display: flex;
    align-items: center;
    font-weight: 800;
    font-size: 16px;
    line-height: 26px;
    text-decoration: none;
    color: var(--cloud-burst);
}

.card__link:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    margin: -5px 0;
    background-color: white;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.4s ease-in-out 0s;
}

.card__link:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

.card__text {
    margin-right: 20px;
}

.card__arrow {
    transform: translateY(1px);
}

/* media */

